*.vs/
*.user
*.filters

/bin/
/bin-int/

/CatEngine/vendors/Glad/bin/
/CatEngine/vendors/Glad/bin-int/

/CatEngine/vendors/GLFW/bin/
/CatEngine/vendors/GLFW/bin-int/

/CatEngine/vendors/ImGui/bin/
/CatEngine/vendors/ImGui/bin-int/